// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #337ab7;
}

ul {
  display: flex;
  text-align: center;

}

.navbar {
  display: flex;
  justify-content: space-between;
  color: black !important;
}

